:root {
    --loader-bg: #ffffff;
  }
  
  .overlay--1aTlbi {
    background-color: #000 !important;
  }
  
  body {
    background-color: #fff !important;
  }
  

.select{
  background-color: rgba(255, 186, 81, 0.7);
  color: #000;

}
  
  