/*Option: Mic OR Listen*/
.dBWPQb{
    background-color: #FF9A00 !important;
}

.LXDNX{
    color: #000 !important;
    font-weight: 600 !important;
}

.doBEMo span:first-child{
    background-color: rgb(0,0,0) !important;
}

.doBEMo i{
    color: rgb(255,255,255) !important;
}

.ilDlnX > span:hover{
    color: #000 !important;
}

/*Root*/
:root {
    --loader-bg: #ffffff !important;
    --colors-selected: rgba(255, 128, 0) !important;
}

/*Recording button & text*/
.hLzlHg{
    border: 2px solid #FFA730 !important;
    border-radius: 8px !important;
}

g{
    stroke:rgb(255, 128, 0) !important;
    fill: rgb(255, 128, 0) !important;
}

circle{
    stroke: rgb(255, 128, 0) !important;
    fill: rgb(255, 128, 0) !important;
}

.hLzlHg span{
    color: #FFA730 !important;
}

/*body bgcolor*/
body {
    background-color: rgba(33,33,33,.9) !important;
}

/*Header bgcolor*/
.ekDSFv{
    background-image: linear-gradient(to bottom, rgb(33, 33, 33,0.6),rgb(58, 58, 58,.9)) !important;
}

/*Presentation bgcolor*/
.ecDTED{
    background-color: unset !important;
}
/*Footer button bgcolor*/
.cwAETT span{
    background-image: linear-gradient(to left top,rgb(162,162,162,0.4), rgb(33,33,33,.9)) !important;
    border-radius: 19px;
    font-size: 13px;
}

.cwAETT:hover > span{
    background-color: rgba(193,193,193,.2) !important;
}

/*Footer selected button bgcolor*/
.jkgjts{
    background-color: #FF8000 !important;
    color: #000 !important;
    font-size: 11px;
}
    
.jeAcue:hover > span{
    color: #000 !important;
    background-color: #DE7000 !important;
}

/*Up arrow*/
.Ngifj{
    font-size: 80% !important;
    color: #000 !important;
}

.XgIUW{
    cursor: pointer;
}

/*Footer bgcolor*/
.bnhZdU{
    background-color: unset !important;
    background-image: linear-gradient(to bottom, rgb(58,58,58,.2), rgb(33,33,33,0.9)) !important;
}

/*Tools bar(Pan) selected color*/
.select{
  background-color: rgba(255, 128, 0) !important;
}

/*Left side messages*/
.hYPNVj{
    text-align: center !important;
    color: #000 !important;
}

/*Left side messages, notes, users bgcolor*/
.fDXipv{
    background-color: #FF9A00 !important;
}

.cdrNiD{
    background: #FF9A00 !important;
}

/*users list*/
.ecXfaj{
    margin-left: unset !important;
}

.ecXfaj:hover{
    background-color: #FF811F !important;
    color: #FFF !important;
}

.ecXfaj:active, .ecXfaj:focus{
    background-color: #FF811F !important;
    box-shadow: inset 0 0 0 3px rgb(255, 200, 157,.8), inset 2px 0 0 2px rgb(255, 200, 157, .8) !important;
}

.jgAUwD{
    background: #FF9A00 !important;
    height: 590px !important;
}

.dcxbxm{
    margin-left: unset !important;
    background-color: #FF811F !important;
}
    
/*Shared notes & Public chat*/
.imfhrb{
    margin: unset !important;
}

/*Shared Notes*/
.fmJApN{
    background: #FF9A00 !important;
}

.fmJApN:hover{
    background-color: #FF811F !important;
}

/*Shared notes text and icon*/
.bmMlEy{
    color: #000 !important;
    background-color: #FF9A00 !important;
}

.bmMlEy:hover{
    background-color: #FF811F !important;
    color: #606060 !important;
}

.bmMlEy > i{
    color: #000 !important;
}

.zUtJv{
    font-weight: 600 !important;
}

/*Public Chat*/
.fxZZlA:hover{
    background-color: #FF811F !important;
}

.gDJBex{
    color: #000 !important;
    font-weight: 600 !important;
}

.gDJBex:hover{
    color: #606060 !important;
}

.fxZZlA{
    background-color: #FF9A00 !important;
}

/*Public Chat text & icon*/
.ikJhCc{
    color: #000 !important;
}

/*Shared notes and Public chat back btn*/
.efqJUx{
    background-color: #CB7B00 !important;
}

/*Shared notes bar bgcolor*/
.ggzyYa{
    background-color: #CB7B00 !important;
}





    
